html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'aboba';
}

h1, h2, h3, h4, h5, p, span, a, button {font-family: "DM Sans", "DM Sans";}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {background-color: #191919;}
img {object-fit: cover;}

button {
    transition: all ease 0.5s;
}

    button:hover {
        box-shadow: 3px 3px 5px rgb(9, 22, 196);
        cursor: pointer;
    }

header {
    display: block;
    min-width: 1440px;
    height: 119px;
    background-color: #191919;
    color: white;
    align-content: center;
}

.container {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}

.logo {
    font-size: 33px;
    float: left;
    font-weight: 800;
}

.header-nav {
    display: inline-flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    font-size: 17px;
    float: right;
    color: white;
}

    .nav{
        color: white;
        text-decoration: none;
        margin-top: 10px;
    }

    .active {color: #118DA8;}

    .animate {
        animation-name: animate;
        animation-duration: 0.8s;
    }
    @keyframes animate {
        from {opacity: 0.4;}
        to {opacity: 1;}
    }

.overlay {position: relative;}



.main-section-left-img {
    display: block;
    border-radius: 12px;
    width: 650px;
    height: 873px;
}

.blue-bars {
    position: absolute;
    top: -26px;
    left: -26px;
    width: 68px;
    height: 74px;
    background: url('img/blue-bars.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.right-main-content {
    align-content: center;
    margin-left: 60px;
    margin-right: 60px;
}

.slogan {
    font-size: 70px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 3px;
    color: white;
}

    .slogan-bold-text {font-weight: 700;}

    .slogan-underline {
        position: relative;
        display: inline-block;
    }
    
    .slogan-underline::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        min-width: 160px;
        height: 84px;
        background: url('img/slang-underline.png') no-repeat;
        background-size: contain;
    }
    

.listen-on {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: white;
    margin-top: 74px;
    padding-left: 22px;
}
    
    .social {
        padding-top: 16px;
        width: 32px;
        height: 32px;
    }

.latest-episodes__title-block {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.latest-episodes-title {
    max-width: 600px;
    color: white;
    font-size: 64px;
    font: 400;
    line-height: 79px;
    letter-spacing: 3px;
}

.all-episodes {
    width: 178px;
    height: 51px;
    border-radius: 6px;
    background-color: #118DA8;
    color: white;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    border: none;
    transition: all ease 0.5s;
}

.episodes-blocks {
    margin-top: 40px;
    color: white;
}

.episode {
    min-width: 1300px;
    background-color: #000000;
    border-radius: 32px;
    margin-bottom: 60px;
}

.episode-container {
    display: flex; /* Используем flexbox для размещения */
    padding: 40px;
    gap: 20px; /* Промежуток между изображением и текстом */
}

.image-container {
    flex-shrink: 0;
}

.episode-cover {
    width: 389px;
    object-fit: cover;
    border-radius: 16px; /* Радиус углов изображения */
}

.content-container {
    max-width: 800px; /* Максимальная ширина блока с текстом */
    padding-left: 26px;
}

.episode-genre {
    border-radius: 6px;
    background-color: #191919;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    border: none;
    margin-bottom: 48px;
    min-width: 73px;
    min-height: 27px;
    padding: 5px 10px;
}
    .episode-genre:hover {
        box-shadow: 0 0 0 0 rgb(0, 0, 0);
    }

.episode-count {
    color: #118DA8; /* Цвет текста */
    margin-bottom: 18px; /* Отступ снизу */
    display: block;
    text-decoration: none;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
}

.episode-title {
    font-size: 64px; /* Размер шрифта заголовка */
    line-height: 70px;
    letter-spacing: 3px;
    font-weight: 400;
    margin-bottom: 28px; /* Отступ снизу */
}

.episode-descr {
    font-size: 16px;
    margin-bottom: 20px; /* Отступ снизу */
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFFB2;
    margin-bottom: 18px;
}

.episode-details {
    background-color: #118DA8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.about-host {
    margin-right: 60px;
    align-content: center;
}

 .meet-host {
    display: flex;
    justify-content: space-between;
    margin-top: 260px;
    margin-bottom: 200px;
 }

.meet-your-host {
    width: 112px;
    height: 112px;
    border-radius: 400px;
    background-color: #118DA8;
    border: none;
    display: block;
    margin-bottom: 20px;
}

.meet-your-host-link {
    text-decoration: none;
    color: #118DA8;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.name-host {
    font-weight: 400;
    font-size: 65px;
    line-height: 79px;
    letter-spacing: 3px;
    color: white;
    margin-bottom: 28px;
}

.host-descr {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFFB2;
    margin-bottom: 33px;
}

.host-img {
    width: 650px;
    height: 743px;
    border-radius: 12px;
    object-fit: cover;
}

.subscription {
    display: flex;
    justify-content: space-between;
    gap: 76px; /* 76 */
    background-color: #000000;
    border-radius: 32px;
    padding: 60px 60px 0 60px;
    margin-bottom: 200px;
}

.descr-container {max-width: 660px;}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.mail-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
}

.subscription-title {
    color: white;
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    letter-spacing: 3px;
    margin-bottom: 143px;
}

.input-subscr {
    border: 1px solid #191919;
    background-color: #191919;
    border-radius: 6px;
    width: 100%;
    max-width: 522px;
    max-height: 82px;
    padding: 26px 0 26px 19px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFFB2;
    margin-bottom: 20px;
}

.button-subscr {
    display: block;
    width: 87px;
    height: 48px;
    border-radius: 6px;
    background-color: #118DA8;
    color: #FFFFFFB2;
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    padding: 9px 17px 10px 17px;
    border: none;
}

.blue-bars-under {
    position: absolute;
    top: 322px;
    left: -38px;
    width: 147px;
    height: 91px;
    background: url('img/blue-bars-down.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.reviews-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}


.review {
    padding: 54px 50px 50px 50px;
    /* max-width: 423px; */
    max-width: calc(33.33% - 16px);
    min-height: 321px;
    border-radius: 32px;
    background-color: black;
    flex: 1 1 calc(33.33% - 16px);
    box-sizing: border-box;
}

.comments {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: white;
    margin-bottom: 19px;
    margin-top: 21px;
}

.author {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFFB2;
}

.rating-star {
    width: 18px;
    height: 17px;
}